@font-face {
  font-family: 'Source Sans Pro';
  src: url('../static/fonts/SourceSansPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../static/fonts/SourceSansPro-Semibold.ttf');
  font-weight: bold;
  font-style: normal;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

.screen{
  position: relative;
  width: 100vw;
  height: 100vh;
}
