@import '../mixins';
@import '../variables';

.mapsComponent {
  overflow: hidden;

  &__city-name {
    position: absolute;
    display: inline-block;
    width: 100vw;
    padding-top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: $blue;
    text-transform: uppercase;
    z-index: 10;
    text-align: center;
  }

  &__arrows {
    &__arrow-left, &__arrow-right {
      z-index: 10;
      position: absolute;
      top: 42px;
      width: 60px;
      height: 60px;
      fill: $blue;
      transform: translateY(-50%);
      transition: all 0.5s;
      &.hidden {
        fill: rgba(0, 255, 216, 0.2);
      }
    }
    &__arrow-right {
      right: 0;
    }
    &__arrow-left {
      transform-origin: 50% 40%;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__maps {
    width: 300vw;
    display: flex;

    &__map {
      width: 100vw;
      height: 100vh;
      position: relative;
      &:nth-child(1) {
        background: url('../../static/img/mapsComponent/lyon.png');
        background-size: cover;
      }
      &:nth-child(2) {
        background: url('../../static/img/mapsComponent/paris.png');
        background-size: cover;
      }
      &:nth-child(3) {
        background: url('../../static/img/mapsComponent/marseille.png');
        background-size: cover;
      }
    }
  }

  &__infos {
    position: absolute;
    bottom: 20px;
    left: 5vw;
    width: 90vw;
    height: 70px;
    background-color: rgba(53, 17, 90, 0.6);
    transform: translateY(150%);
    &__vr, &__share {
      position: absolute;
      height: 25px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &__vr {
      left: 30%;
    }
    &__share {
      left: 70%;
    }
  }

  &__user-location {
    @include center();
    animation: pulse 2s infinite;
    width: 30px;
    height: 30px;
    background-color: rgba(53, 17, 90, 0.6);
    border-radius: 50%;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  &__experiences-location {
    position: absolute;
    width: 25px;
    &#exp1 {
      top: 50%;
      left: 80%;
    }
    &#exp2 {
      top: 30%;
      left: 10%;
    }
    &#exp3 {
      top: 60%;
      left: 35%;
    }
    &#exp4 {
      top: 30%;
      left: 55%;
    }
    &#exp5 {
      top: 25%;
      left: 40%;
    }
    &#exp6 {
      top: 65%;
      left: 40%;
    }
  }
}
