@import '../mixins';
@import '../variables';

.tutovrComponent {
  background: url('../../static/img/metro_bg.png') no-repeat;
  background-size: cover;
  overflow: hidden;

  &__cardboard{
    @include center()
  }

  &__fleche{
    @include place(35%, 85%);
  }

  &__smartphone{
    @include place(20%, 60%);
  }

  &__instruction{
    @include place(85%, 50%);
    padding: 15px;
    border: 1px solid $blue;
    color: $blue !important;
  }
}
